<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <style>
        a.more-link, a.view-article {display: none;}
        .comment {margin-left: 10px;}
    </style>
    <title>Wordpress REST API using Vue</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div id="app">
                
                <router-view></router-view>
            </div>
            <template id="post-list">
                <div>
                    <div v-for="post in posts" class="well col-xs-12 col-md-6 col-md-offset-3">
                        <h1 v-html="post.title.rendered"></h1>
                        <p v-html="post.excerpt.rendered"></p>
                        <router-link :to="{path: 'post', query: {postId: post.id}}">Read More</router-link>
                    </div>
                </div>
            </template>

            <template id="post-item">
                    <div class="well col-xs-12 col-md-12">
                        <h1 v-html="title"></h1>
                        <p>{{date}}</p>
                        <p v-html="content"></p>
                        <router-link :to="{path: 'comments', query: {postID: postId}}">Read Comments</router-link>
                        <router-view></router-view>
                    </div>
           
            </template>
            <template id="comment-list">
                    <div class="well col-xs-12 col-md-12">
                    <h4>Comments: </h4>
                        <div v-for="comment in comments" v-if="comment.post == postId" class="comment">
                            <p>{{comment.author_name}} : </p>
                            <p v-html="comment.content.rendered"></p>
                      </div>
                      </div>
            </template>
        </div>
    </div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!--<script src="https://cdn.jsdelivr.net/vue/1.0.22/vue.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>